<div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" class="registerContainer" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" ngClass.sm="registerContainersm" ngClass.xs="registerContainerxs" fxFlex.xs="95" ngClass.lt-md="registermd">
    <div fxLayout="column wrap" style="padding: 10px 0;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" ngStyle.sm="text-align: center;">
      <h3>REGISTER</h3>
    </div>
    <form [formGroup]="info">
      <div fxLayout="column wrap" class="formContainer" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" ngClass.xs="formContainerxs" ngClass.lt-md="registermd">
        <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxShow="true" fxHide="false">
          <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="space-around stretch" fxShow="true" fxHide="false" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>Full Name</label>
              <mat-form-field class="inputInfo">
                <input matInput name="fullName" required formControlName="fullName" id="info">
                <mat-error *ngIf="data.fullName.errors?.required || data.fullNames?.errors">Name is Required</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>Email Address</label>
              <mat-form-field class="inputInfo">
                <input matInput type="email" required formControlName="email">
                <mat-error *ngIf="data.email.errors?.pattern || data.email.errors?.required">Enter a valid Email</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>What is your Idea?</label>
              <mat-form-field>
                <input matInput required formControlName="idea">
                <mat-error *ngIf="data.idea.errors?.required">Please tell us your idea</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>What challenge/problem does it solve</label>
              <mat-form-field>
                <input matInput placeholder="Input" required formControlName="problem">
                <mat-error *ngIf="data.problem.errors?.required">Please state your problem</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>Why do you want to take part in the AI Hackathon</label>
              <mat-form-field>
                <input matInput placeholder="Input" required formControlName="reason">
                <mat-error *ngIf="data.reason.errors?.required">Tell us why you want to join the Hackathon</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="100">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>I will attend the hackathon as a:</label>
              <mat-form-field>
                <mat-select placeholder="Individual" [(ngModel)]="group" required formControlName="attendance">
                  <mat-option *ngFor="let item of attend" [value]="item">{{item}}</mat-option>
                </mat-select>
                <mat-error *ngIf="data.attendance.errors?.required">Are you coming alone or as a group?</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" *ngIf="group === &apos;Group&apos;">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>First Team mate</label>
                <mat-form-field class="inputInfo">
                  <input matInput name="member1" required formControlName="member1" id="info">
                  <mat-error *ngIf="data.member1.errors?.required">Enter the first team mates name</mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>Second Team mate</label>
                <mat-form-field class="inputInfo">
                  <input matInput name="member2" required formControlName="member2" id="info">
                  <mat-error *ngIf="data.member2.errors?.required">Enter the second team mates name</mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>Third Team mate</label>
                <mat-form-field class="inputInfo">
                  <input matInput name="member3" required formControlName="member3" id="info">
                  <mat-error *ngIf="data.member3.errors?.required">Enter the third team mates name</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>Google Drive Link (Project/Presentation)</label>
              <mat-form-field class="inputInfo">
                <input matInput name="googleDrive" required formControlName="googleDrive" id="info">
                <mat-error *ngIf="data.googleDrive.errors?.required">Please include the link to your presentation/project</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><button mat-button (click)="submit()">Submit</button></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>