<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <h3>REGISTER</h3>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <form>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>Full Name</label>
            <mat-form-field>
              <input matInput placeholder="Input" required>

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>Email Address</label>
            <mat-form-field>
              <input matInput placeholder="Input" required>

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>What is your Idea?</label>
            <mat-form-field>
              <textarea matInput placeholder="Text Area" required></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>What challenge/problem does it solve</label>
            <mat-form-field>
              <textarea matInput placeholder="Text Area" required></textarea>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>Why do you want to take part in the AI Hackathon</label>
            <mat-form-field>
              <textarea matInput placeholder="Text Area" required></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><label>I will attend the hackathon as a:</label>
            <mat-form-field>
              <mat-select placeholder="Select" required>
                <mat-option></mat-option>
              </mat-select>

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><button mat-button>Submit</button></div>
        </div>
      </div>
    </form>
  </div>
</div>