<div fxLayout="column wrap" class="info" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <h3 ngStyle.xs="    margin: 20px 0;">PARTICIPATION CRITERIA</h3>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" ngClass.xs="outer" ngClass.sm="outer">
      <div fxLayout="column wrap" style="min-width: 170px;" class="cardCriteria" fxFlex="30" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" *ngFor="let item of info" fxFlex.xs="60" ngClass.xs="cardCriteriaxs" fxFlex.sm="60" ngClass.sm="cardcriteriasm">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
              <h1>{{item.number}}</h1>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
              <p>{{item.title}}</p>
            </div>
          </div>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <ul *ngFor="let content of item.content">
            <li>{{content}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>