<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <h3>PARTICIPATION CRITERIA</h3>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
              <h1>h1</h1>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
              <p>Paragraph</p>
            </div>
          </div>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"></div>
      </div>
    </div>
  </div>
</div>