/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@font-face {
    font-family: Rockwell;
    src: url(/assets/fonts/ROCK.TTF) format("truetype")
}

* {
    font-family: Rockwell;
}

.container {
    background-image: linear-gradient(to bottom, #ec1c24, #202021), url(/assets/Web/background.png);
    background-blend-mode: luminosity;
    color: white;
    padding: 30px 80px;
}

//=================================================================================
// Home page
//=================================================================================
.logo img {
    width: 10em;;
}
//.info h2, .info h4, .eventName h1, .eventName h3 
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.date {
        margin: 25px 0;
}

.date h2, .eventName h1 {
    font-size: 3em;
}

.date h4, .info h3 {
    font-size: 1.5em;
}

.text h2 {
    font-size: 2em;
}

.text p, .eventName h3 {
    font-size: 1.2em;
}

.text button {
    width: 100px;
    border: 1px solid white;
    margin: 20px 0;
}

.rightside {
        padding: 20px 35px;
}

.prize {
    background-color: rgba(255, 0, 0, 0.5098039215686274);
    padding: 20px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    font-size: 1.6em;
    margin-top: -70px;
}

.redCircle {
    height: 50px;
  width: 50px;
  background-color: rgba(255, 0, 0, 0.5098039215686274);
  border-radius: 50%;
  margin-bottom: -145px;
    margin-right: -35px;

}

.rightside img {
    border: white 2px solid;
    padding: 20px;
    border-left: none;
    margin-left: 80px;
    opacity: 0.4;
    height: auto;
        width: 90%;
}

.eventName {
    position: absolute;
    // margin: 9em 0;
}

.eventNameRed {
    color: red;
}

.verticalLine {
    border-left: 2px white solid;
    height: 12em;
    position: initial;
    margin-left: 78px;
    opacity: 0.4;
}

.text {
        margin-top: -9%;
}

.horLine {
    color: black;
    width: 130em;
    font-size: 2px;
    margin: 0;
}

.login-card .mat-card-image:first-child {
    margin-top:0 !important
}

.primary-red-btn {
    background-color: #ee1c22;
    color: white;
}

.menu button {
    font-size: 1em;
}

.countdown .measurements {
    text-align: center;
    background-color: white;
    color: black;
    padding: 15px;
    margin-right: 5px;
}


.countdown .Minutes {
    background-color: red;
    color: white;
}

//==========================
//tablet 

.containerTablet {
        padding: 25px 20px;
}
.headlineTablet {
    display: -webkit-box;
}

.contentTablet {
    margin-top: 0% !important;
}

.infoTablet {
    width: 25% !important;
}

.pictureTablet {
    padding: 0;
    width: 70% !important;
    margin-top: 70px;
}

.pictureTablet img {
        width: 80%;

}

.pictureTablet .verticalLine {
    height: 10em !important;
}


.prizeContainer {
    width: 50%;
    margin-top: 0 !important;
}

.prizeContainerLaptop {
    // margin-top: -15%;
}

.prizeTablet {
    margin-top: 0 !important;
}

.prize h2 {
    font-size: 1.2em;
}
.countDownContainer {
   margin: 0 !important;
}

.textTablet p {
        font-size: 1em;
        padding-top: 15px;
    }

.textTablet h2{
            font-size: 2em;
    }

//===========================================================================
//phone

.infoMobile h2 {
        font-size: 2em;
}

.mobilePicture {
    padding: 0 !important;
    margin-top: 80px !important;
    margin-left: -50px !important;
}

.mobilePicture .verticalLine {
    height: 4em !important;
}

.mobilePicture img {
        width: 140px;
}

.mobilePicture h1 {
        font-size: 2em !important;
}

.mobilePicture h3 {
    font-size: 1em !important;
}

.infoMobile h4 {
    font-size: 1.5em !important;
}

.contentTabletxs {
    margin: 0 !important;
    padding: 36px 0 0;
    width: 80%;
}

.contentTabletxs p {
    padding: 10px 0 !important;
}

.contentTabletxs h2 {
    font-size: 1.5em;
}

.contentTabletxs {
        font-size: .7em;
}

.countDownContainerxs {
    margin-top: 35px !important;
}

//=================================================================================
// Criteria page
//=================================================================================

.cardCriteria {
    margin: 35px 35px 0 0;
    border: 2px white solid;
    padding: 20px;
}

.cardCriteriaxs {
    margin: 35px !important;
}

.cardCriteria h1 {
    font-size: 3em;
    opacity: 0.8;

}

.cardCriteria p {
    font-size: 1.5em;
    padding-left: 12px;
}

.cardCriteria ul {
        font-size: 1.3em;
}

//=================================================================================
// register page
//=================================================================================

.formContainer {
    margin: 50px 0;
}

.formContainer input, .formContainer textarea, .formContainer mat-select {
        border: 2px white solid;
    padding: 5px;
    border-radius: 5px;
    margin-right: 15px;
}

.formContainer .mat-form-field-underline {
    height: 0 !important;
    width: 0;
}

.formContainer .mat-form-field-label {
    display: none !important;
}

.formContainer button {
    background-color: red;
}

.cardCriteriaxs {
        margin: 35px 35px !important;
}