/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

@font-face {
    font-family: Rockwell;
    src: url(/assets/fonts/ROCK.TTF) format("truetype")
}

* {
    font-family: Rockwell;
}

body {
    background-image: linear-gradient(to bottom, #ec1c24, #202021), url(/assets/Web/background.png);
    background-blend-mode: color;
    color: white;
    background-repeat: no-repeat;
}

.container {
    padding: 0px 80px;
    display: block !important;
    width: 100%;
}
.containerMobile {
    padding: 0px 15px;
}

//=================================================================================
// Home page
//=================================================================================
.logo img {
    width: 15em;;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.date h2, .eventName h1 {
    font-size: 2.5em;
}

.date h4, .info h3 {
    font-size: 1.5em;
}

.text h2 {
    font-size: 2em;
}

.text p, .eventName h3 {
    font-size: 1.2em;
}

.text button, .readmore button {
    width: 100px;
    border: 1px solid white;
    margin: 20px 0;
}

.prize {
    background-color: rgba(255, 0, 0, 0.5098039215686274);
    padding: 20px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    font-size: 1.6em;
}

.prizexs {
    height: 120px;
    width: 120px;
    font-size: 0.75em;
}

.redCircle {
  height: 50px;
  width: 50px;
  background-color: rgba(255, 0, 0, 0.5098039215686274);
  border-radius: 50%;
}

.redcirclexs {
    margin-bottom: -150px;
}

.rightside img {
    padding: 20px 0px;
    border-left: none;
    height: auto;
    width: 90%;
}

.eventName {
    position: absolute;
}

.eventNameRed {
    color: red;
}

.login-card .mat-card-image:first-child {
    margin-top:0 !important
}

.primary-red-btn {
    background-color: #ee1c22;
    color: white;
}

.menu button {
    font-size: 1.5em;
}

.menuxs button {
    font-size: 1.2em;
}

.countdown .measurements {
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px;
    margin: 0 5px;
}

// Tk
.mainContainer {
    display: block;
}

.countdown .Minutes {
    background-color: red;
    color: white;
}

//==========================
//tablet 

.headlineTablet {
    display: -webkit-box;
}

.contentTablet {
    margin-top: 0% !important;
}

.infoTablet {
    width: 25% !important;
}

.pictureTablet {
    padding: 0;
    width: 70% !important;
}

.pictureTablet img {
        width: 80%;

}


.prizeContainer {
    width: 100%;
    margin-top: -30% !important;
    margin-bottom: 10% !important;
}


.countDownContainerlt-lg {
    padding-right: 0px !important;
}

.prize h2 {
    font-size: 1em;
}
.countDownContainer {
   margin: auto !important;
   padding: 5px !important;
}

.textTablet {
    margin: 0 !important;
}

.textTablet p {
    font-size: 1em;
    padding-top: 15px;
    }

.textTablet h2{
    font-size: 2em;
    }

//===========================================================================
//phone

.infoMobile h2 {
        font-size: 2em;
}

.mobilePicture {
    padding: 0 !important;
    margin-top: 0px !important;
    margin-left: -10%;
}

.mobilePicture h1 {
        font-size: 2em !important;
}

.mobilePicture h3 {
    font-size: 1em !important;
}

.infoMobile h4 {
    font-size: 1.5em !important;
}

.contentTabletxs {
    margin: 0 !important;
    padding: 36px 0 0;
}

.contentTabletxs p {
    padding: 10px 0 !important;
}

.contentTabletxs h2 {
    font-size: 1.5em;
}

.contentTabletxs {
        font-size: .7em;
}

.countDownContainerxs {
    padding: 0 !important;
    position: absolute;
    bottom: 5px;
}

.countdownsm .measurements {
        padding: 10px;
}

//=================================================================================
// Criteria page
//=================================================================================

//horizontal scroll for criteria in mobile
.outer {
    width: 100%;
    height: auto !important;
    // white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
        display: -webkit-box !important;
        max-height: 620px !important;
}

.cardCriteriaxs {
    float: none;
    display: inline-block;
    zoom: 1;
}
.cardCriteria {
    margin: 35px 12px;;
    border: 2px white solid;
    padding: 16px;
}

.cardCriteriaxs ul {
        font-size: 1em !important;
}

.cardCriteria h1 {
    font-size: 3em;
    opacity: 0.8;
}

.cardcriteriasm h1 {
    font-size: 2em;
}

.cardcriteriasm {
        padding: 10px;
}

.cardcriteriasm li {
    font-size: 1em;
}

.cardCriteria p {
    font-size: 1.5em;
    padding-left: 12px;
}

.cardCriteria ul {
        font-size: 1.1em;
}

//=================================================================================
// register page
//=================================================================================

.registerContainer {
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
    padding: 30px 80px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 30px;
}

.registerContainerxs {
    padding: 30px 35px;
}
.formbox {
    padding: 0 10px;
}
.formContainer textarea {
    padding: 5px !important;
}

.formContainer input, .formContainer textarea, .formContainer mat-select {
    border: 2px white solid;
    padding: 5px;
    border-radius: 5px;
    height: 35px;
}

.formContainer .mat-select {
    height: 22px !important;
}
.mat-select-value {
    color: white;
}

.formContainer .mat-form-field-underline {
    height: 0 !important;
    width: 0;
}

.formContainer .mat-form-field-label {
    display: none !important;
}

.formContainer button {
    background-color: red;
}

//================================
// after CJ review

.countlt-sm {
    position: relative !important;
    bottom: 5% !important;
    right: 0% !important;
    margin: 0 auto !important;
    font-size: .6em;
}

.countsm {
    position: relative !important;
    padding: 30px;
    margin: 0 auto;
    right: 0px !important;
}

.prizemd {
    position: relative !important;
    left: 30% !important;
}

.prizesm {
    padding-bottom: 12px;
}

.countdownsm, .prizesm {
    position: relative !important;
    bottom: 2% !important;
    right: 0% !important;
    margin: 0 auto !important;
    left: 0% !important;
}

.countmd {
    font-size: .6em;
}

.outer::-webkit-scrollbar { width: 0 !important }

.registermd {
    margin-bottom: 25px;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
   animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.arrow {
    background-color: #ec1c24;
    border-radius: 50%;
    padding: 10px;
}

.arrowxs {
    position: absolute;
    bottom: 8%;
}