<div fxLayout="row wrap" style="width:100%" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" style="height: 100%;" class="container" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" ngClass.sm="containerTablet">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="row wrap" class="header" fxFlex="100" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
        <div fxLayout="column wrap" class="logo" fxFlex="50" fxLayoutAlign="center stretch" fxShow="true" fxHide="false" fxFlex.xs="30"><img imgSrc="/Web/new-logo.png" style="cursor:pointer" routerLink="/home"></div>
        <div fxLayout="column wrap" class="menu" fxFlex="50" fxLayoutAlign="center end" fxShow="true" fxHide="false" fxFlex.xs="60">
          <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-button routerLink="criteria">Criteria</button><button mat-button routerLink="register">Register</button></div>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFill>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>