<div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="row wrap" class="header" fxFlex="100" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" class="logo" fxFlex="50" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><img imgSrc="/Web/logo.png"></div>
      <div fxLayout="column wrap" class="menu" fxFlex="50" fxLayoutAlign="center end" fxShow="true" fxHide="false">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-button routerLink="/criteria">Criteria</button><button mat-button routerLink="/register">Register</button></div>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="row wrap" class="content" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" class="info" fxFlex="50" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <div fxLayout="column wrap" class="date" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <h2>22-23</h2>
          <h4>JUNE<br>2019</h4>
        </div>
        <div fxLayout="column wrap" class="text" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <h2>Neutrinos AI Challenge 48 Hours<br>What can you Build?</h2>
          <p>48 Hours - Discover, Discuss and Solve the problems in the modern industry by using AI technology!<br>This is a hackathon about having a good time! We&apos;re giving you fun themes to hack towards so that you can both exercise your hacking chops.</p><button mat-button>Read More</button>
        </div>
        <div fxLayout="column wrap" class="prize" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <h4>Prize</h4>
          <h2>50 000</h2>
        </div>
      </div>
      <div fxLayout="column wrap" class="rightside" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><img imgSrc="/Web/robot.jpg">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <h1>ATOMICITY</h1>
          <h3>HACKATHON CHALLENGE</h3>
          <hr style="color: black; width: 25px; font-size: 2px">
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" class="timer" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <p>Paragraph</p>
      </div>
    </div>
  </div>
</div>