<div fxLayout="row wrap" style="    overflow-y: scroll;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFill>
  <div fxLayout="column wrap" class="container" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" ngClass.sm="containerTablet" ngClass.xs="containerMobile">
    <div fxLayout="column wrap" style="    padding: 35px 0;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="row wrap" class="header" fxFlex="100" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
        <div fxLayout="column wrap" class="logo" fxFlex="50" fxLayoutAlign="center stretch" fxShow="true" fxHide="false" fxFlex.xs="30"><img imgSrc="/Web/new-logo.png" style="cursor:pointer" routerLink="/home" ngStyle.xs="    width: 9em;    margin-left: -25px;"></div>
        <div fxLayout="column wrap" class="menu" fxFlex="50" fxLayoutAlign="center end" fxShow="true" fxHide="false" fxFlex.xs="60" ngClass.xs="menuxs">
          <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false" ngStyle.xs="    margin-right: -15%;"><button mat-button routerLink="criteria">Criteria</button><button mat-button routerLink="register">Register</button></div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>